<app-admin-nav></app-admin-nav>

<div class="container pt-5">
    <table class="table">
      <caption>Top Selling Articles</caption>
      <thead>
        <tr>
          <th scope="col">FirstName</th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
          <th scope="col">Downloads</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Freedom</th>
          <td>Khanyile</td>
          <td>user@mail.com</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>