<div *ngIf= "(!user); else other_content"> 
  <app-home-nav></app-home-nav>
</div>
<ng-template #other_content>
  <app-user-nav></app-user-nav>
</ng-template>
<section class="jumbotron">
  <div class="img" style="background-image:url(assets/img/carousel-600x400-2.jpg)"></div>
  <div class="container">     
    <h4 class="jumb-text">Check Out</h4>    
  </div>
</section>
<hr/>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="product-easy">
      <div class="container">
        <div class="row">
          
          <div class="col-md-4">
            <h2 class="currency"> Order Total: {{(cart | async).Total | currency:'USD':true}}</h2>
          </div>

        </div>
        <div class="row">
          <div class="col-md-8">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ISSN #</th>
                  <th scope="col">Title</th>
                  <th scope="col">Abstract</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active" *ngFor="let item of cartItems">
                  <td>{{item.article.ISSN}}</td>
                  <td>{{item.article.Title}}</td>
                  <td>{{item.article.Abstract}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.totalCost | currency:'USD':true}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">
                <h3>Method Of Payment
                  <li class="fa fa-money"></li>
                </h3>
              </div>
              <div class="card-body">
                <button type="button" class="btn btn-success btn-lg" (click)="directDeposit()">
                  <li class="fa fa-arrow-right"></li> Make Direct Deposit</button>
                <br/>
                <div class="content-centered">
                  <h2>Or</h2>
                </div>
                <br/>
                <!-- Pay Fast Intergration -->
                <app-pay-fast></app-pay-fast>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>