.jumb-text{
    text-align: center;    
}
section {
    position: relative;
    background-color: transparent !important;
}

section .img {
    position: absolute;
    left:0; top:0;
    background-size: cover;
    min-height: 468px;
    width: 100%;
    opacity: 0.45;
    /* background-image: url("/assets/img/carousel-600x400-2.jpg"); */
    z-index: -1;
}

section .container {
    background-color: transparent;
}

section .container .row {
    padding: 1.5em;
}
.jumbotron {
     background-color: gray}

     .card-image{
        height: 375px;
        width: 100%; 
        display: block;
    }
    
    .btn-outline{
        outline-color: orange
    }