<app-home-nav></app-home-nav>
<section class="jumbotron">
  <div class="img" style="background-image:url(assets/img/carousel-600x400-2.jpg)"></div>
  <div class="container">     
    <h4 class="jumb-text">View Article</h4>    
  </div>
</section>
<hr/>
<div class="album py-5 bg-light" *ngIf="article as article">
  <div class="container">
    <div class="row">
      <div class="row col-md-12">
        <div class="col-md-3">
          <img src="{{article.ImageUrl}}" alt="..." style="width:250px; height:350px;" class="img-thumbnail">
          <hr/>
          <div class="">
            <button type="button" class="btn btn-primary" (click)="TopPaid()">
              <span style="margin-right:20px" class="fa fa-shopping-basket" aria-hidden="true"></span> Continue Shopping</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h4>{{article.Title}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 bottom-rule">
              <h2 class="product-price">${{article.Price}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-success" (click)="addArticleToCart(article, 1)">
                <span style="margin-right:20px" class="fa fa-plus" aria-hidden="true"></span> Add To Cart</button>
            </div>
            <!-- <div class="col-md-6">
                        <button type="button" class="btn btn-danger"
                        *ngIf="articleInCart(article) | async"
                        (click)="removeArticleFromCart(article, 1)"><span style="margin-right:20px"  class="fa fa-trash" aria-hidden="true"></span> Remove From Cart</button>
                    </div> -->
          </div>
        </div>
        <div class="col-md-3">
          <app-cart></app-cart>
        </div>
      </div>
      <div class="row">
        <br/>
        <div class="col-xs-9">
          <div style="width:100%;border-top:1px solid silver">

            <h4 style="padding:15px;">
              {{article.Abstract}}
            </h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container"  *ngIf="(!article)">
  <h1>No Article Available Yet Coming Soon...</h1>
</div>