<app-admin-nav></app-admin-nav>
<div class="container pt-5">
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-users fa-lg" style="color: indigo"></i> Subscribers</h5>
        <p class="card-text">View Your Site Subscribers here</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a routerLink="/view-subscribers" class="btn btn-primary pt-2" style="color: white">Go</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-edit fa-lg" style="color: indigo"></i> My Articles</h5>
        <p class="card-text">View Your Published Articles here</p>         
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLink="/view-articles" class="btn btn-primary pt-2" style="color: white">Go</a>
            </li>
          </ul>       
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-calendar fa-lg" style="color: indigo"></i> Monthly Stats</h5>
        <p class="card-text">View Your Sales <br/> here</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a routerLink="/admin-dashboard" class="btn btn-secondary pt-2" style="color: white">Go</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-comments fa-lg" style="color: indigo"></i> Reviews</h5>
        <p class="card-text">View Your Site Subscribers here</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a routerLink="/admin-dashboard" class="btn btn-secondary pt-2" style="color: white">Go</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-top-selling-articles></app-top-selling-articles>